body {
    background-color: rgb(252, 251, 197);
}
h1 { 
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color: rgb(0, 0, 0);
}
h5{
    font-family:Arial, Helvetica, sans-serif;
    white-space:pre-line;
}
h6{
    white-space: pre-line;
}
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .box {
      width: 400px;
      background-color: #f8f9fa;
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #000000;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .bottom-line {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      background-color: #f1f1f1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    
    .bottom-line span {
      margin-right: 50px;
    }
